- hosts: web
  become: yes
  tasks:
    - name: Update apt packages
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Add ubuntu to docker group
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Copy app folder
      copy:
        src: ../app/
        dest: /home/ubuntu/app/
        owner: ubuntu
        group: ubuntu
        mode: '0755'

    - name: Build Docker image
      docker_image:
        source: build
        build:
          path: /home/ubuntu/app/
        name: devops-app
        state: present

    - name: Run Docker container
      docker_container:
        name: devops-app
        image: devops-app
        state: started
        restart_policy: always
        published_ports:
          - "8000:8000"


